<div class="container">
  <div class="form-container">
    <h3>Login</h3>
    <%= flash[:error] if flash[:error] %>
    <%= form_tag sessions_path, :id => 'login' do %>
      <%= text_field_tag(:email, nil, placeholder: "Email") %>
      <%= password_field_tag(:password, nil, placeholder: "Password") %>
      <%= submit_tag("Login") %>
    <% end %>
    <%= link_to "Register", new_user_path, class: "register-link" %>
  </div>
</div>
