<%= form_for @vote, html: {id: "upvote"} do |f| %>
  <%= f.hidden_field :voteable_id, :value => "#{@version.id}" %>
  <%= f.hidden_field :voteable_type, :value => "Version" %>
  <%= f.hidden_field :positive, :value => true %>
  <%= f.submit "Upvote" %>
<% end %>

<div class="score"><%= @version.calculate_branch_vote_score %></div>

<%= form_for @vote, html: {id: "downvote"} do |f| %>
  <%= f.hidden_field :voteable_id, :value => "#{@version.id}" %>
  <%= f.hidden_field :voteable_type, :value => "Version" %>
  <%= f.hidden_field :positive, :value => false %>
  <%= f.submit "Downvote" %>
<% end %>
