<div class = "container">
  <h2><%= @version.project.name %></h2>
  <small><%= @version.project.category.name %> Last Updated By: <%= @version.contributor.name %> on <%= @version.updated_at.strftime("%b %e, %Y") %></small><br>


  <% unless @version.previous_version == nil %>
  <%= link_to "Back", project_version_path(@version.project, @version.previous_version) %>
  <%= link_to "Back to Original", project_version_path(@version.project, @version.project.versions.first) %>
  <% end %>

  <div id="branch_text" versionid="<%= @version.id %>" projectid="<%= @version.project_id %>">
      <% @version.branch.each do |version| %>
        <% if @version.project.category.name == "story" %>
          <span id="contribution"><%= version.contribution %></span>
        <% else %>
          <p id="contribution"><%= version.contribution %></p>
        <% end %>
        <span class="hidden">Added by <%= version.contributor.name %> on <%= version.updated_at.strftime("%b %e, %Y") %></span>
      <% end %>
  </div>

  <div id="children_container">
      <span>
        <%= fa_icon "plus-circle", id:"expand_branch" %>
        <%= fa_icon "minus-circle", id:"collapse_branch" %>
      </span>
      <div id="children"
    <% @version.children.each do |child| %>
    <p><%= link_to "#{child.contribution}", project_version_path(child.project, child) %></p>
    <% end %>
  </div>
  </div>

  <%= render 'votes/form_versions' %>
</div>
