<div class="container">
  <div class="category_header">
    <% if @category.name == 'Story' %>
      <i class="fa fa-pencil-square-o">
    <% elsif @category.name == 'Poem' %>
      <i class="fa fa-bars">
    <% else %>
      <i class="fa fa-music">
    <% end %>
    <%= @category.name.pluralize %></i>
  </div>
  <div class="sort">
    <a href="#">
    <div class="sort_icon"><i class="fa fa-sort"></i></div>
    <div class="sort_fields">
        <div class="sort_field" id="project_score"> <i class="fa fa-thumbs-up"> Project Score</i></div>
        <div class="sort_field" id="highest_voted_version"> <i class="fa fa-thumbs-o-up"> Score of Highest Voted Version</i></div>
        <div class="sort_field" id="contributions"> <i class="fa fa-user"> Number of Contributions</i></div>
    </div>
  </a>
  </div>

  <div class="all_category_projects">
    <% @category.projects.each do |project| %>
    <div class="project_box">
      <%= link_to project_path(project) do %>
        <div class="project_link">
        <p>
          <span class="project_name"><%= project.name %></span>
        </p>
        <p>
          <span class="first_version"> <%= project.versions.first.contribution %>
          </p>
        </div>
        <div class="stats">
          <p>
            <div id="sort_value"><i class="fa fa-thumbs-up"> <%=project.calculate_vote_score%></i><br></div>
            <div id="sort_value"><i class="fa fa-thumbs-o-up">  <%=project.get_popular_version.calculate_branch_vote_score %></i><br></div>
            <div id="sort_value"><i class="fa fa-user"> <%= project.total_versions %> </i><br></div>
          </p>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
