<div class="container">
  <div class="category_header">
    <% if @category.name == 'Story' %>
      <i class="fa fa-book">
    <% elsif @category.name == 'Poem' %>
      <i class="fa fa-bars">
    <% elsif @category.name == 'Song' %>
      <i class="fa fa-music">
    <% end %>
    <%= @category.name.pluralize %></i>
  </div>
  <div class="sort">
    <a href="#">
      <div class="sort_icon"><i class="fa fa-sort"></i></div>
      <div class="sort_fields">
        <div class="sort_field" id="project_score">
          <i class="fa fa-thumbs-up">
            <span class="sort_value_text">Project Score</span></i></div>
        <div class="sort_field" id="highest_voted_version">
          <i class="fa fa-thumbs-o-up">
            <span class="sort_value_text">Score of Highest Voted Version</span></i></div>
        <div class="sort_field" id="contributions">
          <i class="fa fa-user">
            <span class="sort_value_text">Number of Contributions</span></i></div>
      </div>
    </a>
  </div>
  <div class="all_category_projects">
    <% @category.projects.each do |project| %>
      <div class="project_box">
        <%= link_to project_path(project) do %>
          <div class="project_link">
            <p>
              <span class="project_name"><%= project.name %></span>
            </p>
            <p>
              <span class="first_version">
                <%= project.versions.first.contribution %>
              </p>
            </div>
            <div class="stats">
              <div class="project_score"><i class="fa fa-thumbs-up">
                  <%=project.calculate_vote_score%></i><br></div>
              <div class="highest_voted_version"><i class="fa fa-thumbs-o-up">
                  <%=project.get_popular_version.calculate_branch_vote_score %></i><br></div>
              <div class="contributions"><i class="fa fa-user">
                  <%= project.total_versions %>
                </i><br></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
