<header>
  <h1>Working Title</h1>

  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Projects", projects_path %></li>
      <% if current_user %>
        <li><%= link_to("Sign Out", signout_path, method: :delete)%></li>
        <li><%= link_to "Profile", user_path(current_user) %></li>
      <% else %>
        <li><%= link_to "Sign In", signin_path %></li>
        <li><%= link_to "Sign Up", signup_path %></li>
      <% end %>
    </ul>
  </nav>

</header>
