<header>
  <div class="container">
    <a href="<%= root_path %>">
      <div id="logo">
        <h1>Working Title</h1>
      </div>
    </a>
    <div class="menu-container clearfix">
      <nav id="pages-nav">
        <ul>
          <li><%= link_to "Write", new_project_path %></li>
          <li><%= link_to "Collaborate", projects_path %></li>
          <li><%= link_to "Explore", categories_path %></li>
        </ul>
      </nav>
      <div id="search">
        <span class="search-button fa fa-search fa-fw"></span>
        <%= form_tag("/search", id: "search-form") do %>
          <%= text_field_tag(:text, nil, {placeholder: "Search", autofocus: true}) %>
        <% end %>
      </div>
      <nav id="session-nav">
        <ul>
          <% if current_user %>
            <li><%= link_to "Sign Out", signout_path, method: :delete %></li>
            <li><%= link_to "Profile", user_path(current_user) %></li>
          <% else %>
            <li><%= link_to "Login", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
